@media screen and (min-width: 375px) {
  .notFound {
    p {
      color: #f60;
      font-size: 18px;
      @include generalFont;
      text-align: center;
      padding: 20px;
      padding-top: 0px;
      margin: 0px;
    }
    .retourAccueil {
      text-align: center;
      align-self: flex-end;
      margin-top: 150px;
      text-decoration: underline;
    }
    .Oups {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 150px;
    }

    .E404 {
      color: $majorRed;
      font-family: Montserrat;
      font-size: 96px;
      @include generalFont;
      text-align: center;
      margin-bottom: 0px;
    }
  }
}
