@media screen and (min-width: 375px) {
  .about {
    .imgAbout {
      display: flex;
      background-image: url("../../../public/img/backgoundAbout.png");
      height: 223px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: darken;
      border-radius: 10px;
      margin: 22px;
      margin-top: 20px;
    }
  }
}
