@media screen and (min-width: 375px) {
  .imgGallery,
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 95%;
  }
  .commande {
    display: flex;
    justify-content: space-between;
  }

  .previousBtn,
  .nextBtn {
    position: absolute;
    align-self: flex-start;
    position: absolute;
    margin-left: 308px;
    background-color: transparent;
    border: none;
    z-index: 100;
    cursor: pointer;
  }

  .previousBtn {
    margin-left: 0;
    margin-right: 32px;
  }

  .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgNb {
    margin-top: -26px;
    z-index: 20;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
}
