@import "../mixin";
@import "../responsive";

@media #{$litlescreen} {
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px;

    .slide {
      display: flex;
    }
    .imgGallery {
      display: flex;
      height: 255px;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      background-blend-mode: darken;
      border-radius: 10px;
      width: 335px;
    }
    .slide,
    .slide:active,
    .photos,
    .imgGallery {
      width: 100%;
    }
    .commande {
      display: flex;
      position: absolute;
      justify-content: space-between;
      width: 80%;
    }

    .previousBtn,
    .nextBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .photos {
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgNb {
        @include generalFont;
        margin-top: -40px;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
