@import "../mixin";
@import "../responsive";

@media #{$litlescreen} {
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imgGallery {
      display: flex;
      height: 255px;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      background-blend-mode: darken;
      border-radius: 10px;
      width: 335px;
    }

    .commande {
      display: flex;
      position: absolute;
      justify-content: space-between;
      width: 80%;
    }

    .previousBtn,
    .nextBtn {
      background-color: transparent;
      border: none;
      z-index: 100;
      cursor: pointer;
    }
    .photos {
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgNb {
        @include generalFont;
        margin-top: -40px;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  .commande {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .commande {
    width: 80%;
  }
  .previousBtn,
  .nextBtn {
    height: 79.19999694824219px;
    width: 46.68000030517578px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }
  .prev,
  .next {
    height: 50%;
  }
}
