@import "../responsive";

@media #{$litlescreen} {
  .dropdown {
    display: flex;
    flex-direction: column;
    margin: 22px;

    details {
      color: #ffffff;
      margin-bottom: 20px;
      background-color: #ffffff;
    }

    summary {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      background-color: #ff6060;
      padding: 8px;
      border-radius: 5px;
    }
    .dropdownBtn {
      height: 14px;
      width: 20px;
      background-color: #ff6060;
      border: none;
    }
    details[open] .dropdownBtn {
      transform: rotate(180deg);
    }

    summary:first-of-type {
      list-style: none;
    }

    .titleAbout {
      @include generalFont;
      font-size: 13px;
      color: #ffffff;
      background-color: #ff6060;
    }
    .aboutContent,
    .listElements {
      @include generalFont;
      font-size: 12px;
      background-color: #f6f6f6;
      margin: 0px;
    }
  }

  .listElements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    margin-left: 20px;
    margin-right: 20px;
  }

  .element,
  .aboutContent {
    font-size: 12px;
    color: #ff6060;
    padding: 8px;
  }
  .aboutContent {
    margin-right: 20px;
    margin-left: 20px;
  }
}
