@import "../mixin";
@import "../responsive";

@media #{$litlescreen} {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 22px;

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 43px;
    }
    ul {
      justify-content: flex-end;
    }

    .itemNav {
      margin-left: 7px;
      margin-top: 30px;
    }
    .itemNav.active {
      content: "";
      height: 1px;
      background-color: $majorRed;
    }

    .logo {
      height: 47px;
      margin-left: 10px;
      margin-top: 30px;
      border-radius: 0px;
    }

    .accueil,
    .propos {
      @include generalFont;
      font-size: 12px;
      margin-top: -16px;
    }
    .propos {
      margin-top: -15px;
    }
  }
}
