@import "../responsive";
@import "../mixin";

@media #{$litlescreen} {
  .logementContent {
    display: flex;
    flex-direction: column;
  }
  .infos {
    display: flex;
    flex-direction: column;
    margin: 22px;

    .infoFlat {
      display: flex;
      flex-direction: column;

      .titleFlat {
        @include generalFont;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .location,
      .tags {
        @include generalFont;
        font-size: 14px;
        margin-bottom: 0px;
      }
    }
  }
}

@media #{$mediumscreen} {
  .infos {
    margin: 0;
  }
  .logementContent {
    margin: 50px;
    .dropdown {
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }
    .dropdownList {
      width: 45%;
      display: flex;
      justify-content: space-between;
    }
    details {
      display: flex;
      width: 100%;
    }
  }

  .infos {
    flex-direction: row;
    justify-content: space-between;

    .ratingAndHost {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
    }
  }
}
