@media screen and (min-width: 375px) {
  .title {
    font-size: 18px;
  }

  .location {
    font-size: 14px;
  }
  .ficheLogement {
    display: flex;
    margin-top: 20px;
  }
  .logement {
    display: flex;
    flex-direction: column;
  }
  .unLogement {
    margin-left: 20px;
  }

  .ratindAndHost {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-bottom: 25px;
  }
  .host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  .hostName {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
  }

  .hostPic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
}
