@import "../responsive";
@import "../mixin";

@media #{$litlescreen} {
  .ratingAndHost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .host {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .hostNameAndPicture {
      display: flex;
    }
    .hostName {
      @include generalFont;
      text-align: right;
      margin-right: 10px;
      margin-top: 0px;
    }

    .hostPic {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
