@media screen and (min-width: 375px) {
  .backgroundSlogan,
  .slogan {
    display: flex;
    background: rgba(0, 0, 0, 0.3) url("../../../public/img/backgroundHome.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
  }

  .sloganText {
    height: 48px;
    width: 65%;
    padding: 20px;
    color: #fff;
    font-weight: 500;
  }
}
