@import "../responsive";
@import "../mixin";

@media #{$litlescreen} {
  .slogan {
    display: flex;
    background: rgba(0, 0, 0, 0.3) url("../../../public/img/backgroundHome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    margin: 22px;
    margin-top: 20px;

    .sloganText {
      height: 48px;
      width: 65%;
      padding: 20px;
      @include generalFont;
      font-size: 24px;
      color: #fff;
    }
  }
}
@media #{$mediumscreen} {
  .slogan {
    .sloganText {
      width: 100%;
      text-align: center;
    }
  }
}
