@media screen and (min-width: 375px) {
  .ratingAndHost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
