@media screen and (min-width: 375px) {
  .tag {
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    margin: 5px;
    background-color: #ff6060;
    color: #ffffff;
    padding: 5px;
    height: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .listeTags {
    margin-bottom: 15px;
  }

  .eachTag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
  }
}
